/* sass/custom.scss */

/* 1. Configuration */
:root {
    --bg: #0b0c15;
    --text: #a9b7c6;
    --accent: #00f3ff;
    /* Cyan */
    --secondary: #00f3ff;
    --code-bg: #151725;
}

/* Override the default text selection color */
::selection {
    background: rgba(0, 243, 255, 0.2);
    color: #fff;
    text-shadow: 0 0 8px var(--secondary);
}

/* 2. Global Overrides */
body {
    background-color: var(--bg);
    color: var(--text);
}

/* 3. Import Feature Modules */
/* Ensure the filename matches exactly: _dashboard.scss */
@import "dashboard";