<div class="neofetch-container">

    {# COLUMN 1: ART #}
    <div class="neofetch-art">
<pre class="ascii-art">
      <span class="dim">)  (</span>
     <span class="dim">(   ) )</span>
      <span class="dim">) ( (</span>
    <span class="primary">_______</span><span class="dim">)</span><span class="primary">_</span>
 <span class="primary">.-'---------|</span>
<span class="primary">( C|</span><span class="highlight">/\/\/\/\/</span><span class="primary">|</span>
 <span class="primary">'-.</span><span class="highlight">/\/\/\/\/</span><span class="primary">|</span>
   <span class="primary">'_________'</span>
    <span class="primary">'-------'</span>
</pre>
    </div>

    {# COLUMN 2: THE WELCOME INTRO #}
    <div class="neo-intro">
        <div class="intro-header">
            README.md
        </div>
        <div class="intro-body">
            Welcome! My name is <strong class="highlight">Brandon</strong>. I'm a <strong class="highlight">Senior Backend Engineer</strong> specializing in high-performance architecture.
            <br><br>
            So I built this site to capture my notes on distributed systems, performance engineering, and other things I refused to learn the easy way.
        </div>

        <div class="intro-meta">
            <span class="meta-tag">[ 9-to-5: Java / Python / AWS ]</span>
            <span class="meta-tag">[ After Hours: Rust & Go ]</span>
        </div>
    </div>

</div>
