{% extends "base.html" %}

{% block main_content %}
<div class="body">

    <h2 style="margin-top: 3rem;">Active Protocols</h2>

<ul class="card-grid">
        {% set garden = get_section(path="garden/_index.md") %}

        {% for page in garden.pages | slice(end=6) %}
        <li>
            <a href="{{ page.permalink }}" class="card-link">
                <div class="card-header">
                    <h3>{{ page.title }}</h3>
                    <span class="card-header-meta">
    ::REV {{ page.updated | default(value=page.date) | date(format="%Y-%m-%d") }}
</span>
                </div>
                
                <div class="card-meta">
                    {{ page.description | default(value="No description provided.") | truncate(length=120) }}
                </div>

                {% if page.taxonomies.tags %}
                <div class="card-footer-tags">
                    {% for tag in page.taxonomies.tags | slice(end=3) %}
                        <span class="tech-tag">#{{ tag }}</span>
                    {% endfor %}
                </div>
                {% endif %}
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock main_content %}